In [1]:
import streamlit  as st
import json 
import os
import pandas as pd
import numpy as np

In [2]:
#                                  3.   This is for map_transaction:

#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


path = "pulse/data/map/transaction/hover/country/india/state/"
state_list = os.listdir(path)
#Agg_state_list
# Agg_state_list--> to get the list of states in India


#-----------------------------------------------------------------------------------------------------------------------

# This is to extract the data's to create a dataframe

clm = {'State': [], 'Year': [], 'Quater': [], 'District': [],
    'Transaction_count': [], 'Transaction_amount': []}
for i in state_list:
    p_i = path+i+"/"
    year = os.listdir(p_i)
    for j in year:
        p_j = p_i+j+"/"
        file = os.listdir(p_j)
        for k in file:
            p_k = p_j+k
            Data = open(p_k, 'r')
            D = json.load(Data)
            try:
                for z in D['data']["hoverDataList"]:
                    district = z['name']
                    transaction_count = z['metric'][0]['count']
                    transaction_amount = z['metric'][0]['amount']
                    clm['District'].append(district)
                    clm['Transaction_count'].append(transaction_count)
                    clm['Transaction_amount'].append(transaction_amount)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))

            except:
                pass   
                
map_transaction = pd.DataFrame(clm)
# Succesfully created a dataframe
# map_transaction.to_csv("phonepe_csv/map_transaction.csv")
map_transaction

,State,Year,Quater,District,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
14037,west-bengal,2022,4,nadia district,12690126,2.804568e+10
14038,west-bengal,2022,4,birbhum district,7617444,1.614650e+10
14039,west-bengal,2022,4,purba medinipur district,14484229,3.309949e+10
14040,west-bengal,2022,4,maldah district,12492746,2.721861e+10
14041,west-bengal,2022,4,darjiling district,8827502,1.801650e+10

In [ ]:
cursor.execute("create table map_transaction(state varchar(45),year int, quarter int,district_name varchar(45),transaction_count int, transaction_amount float)")

for record in map_transaction.values:
    cursor.execute("insert into map_transaction(state,year,quarter,district_name,transaction_count,transaction_amount)values{}".format(tuple(record)))
    connection.commit()
print('Data inserted into Table-3 successfully')
    
#**************************************** ------  3 rd finished  ------************************************************