In [1]:
import streamlit  as st
import json 
import os
import pandas as pd
import numpy as np

In [2]:
#                            4.  This is registered users in India :

#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


path = "pulse/data/map/user/hover/country/india/state/"
state_list = os.listdir(path)
#Agg_state_list
# Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

# This is to extract the data's to create a dataframe

clm = {'State': [], 'Year': [], 'Quater': [], 'District': [],
    'Registered_user': [], 'App_opening': []}
for i in state_list:
    p_i = path+i+"/"
    year = os.listdir(p_i)
    for j in year:
        p_j = p_i+j+"/"
        file = os.listdir(p_j)
        for k in file:
            p_k = p_j+k
            Data = open(p_k, 'r')
            D = json.load(Data)
            try:
                for z in D['data']["hoverData"]:
                    district = z
                    registered_user =  D['data']["hoverData"][z]["registeredUsers"]
                    app_opening = D['data']["hoverData"][z]["appOpens"]
                    clm['District'].append(district)
                    clm['Registered_user'].append(registered_user)
                    clm['App_opening'].append(app_opening)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))

            except:
                pass       
                 
registered_users = pd.DataFrame(clm)
# Succesfully created a dataframe
#registered_users.to_csv("phonepe_csv/district_registering.csv")
registered_users

,State,Year,Quater,District,Registered_user,App_opening
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
14635,west-bengal,2022,4,nadia district,1359420,33853990
14636,west-bengal,2022,4,birbhum district,855236,20950662
14637,west-bengal,2022,4,purba medinipur district,1346908,38278506
14638,west-bengal,2022,4,maldah district,954892,29023743
14639,west-bengal,2022,4,darjiling district,564562,15982631

In [ ]:
cursor.execute("create table registered_users(state varchar(45),year int,quarter int,district_name varchar(45), registered_users int, app_opens int)")
for record in district_registering.values:
    cursor.execute("insert into registered_users(state, year, quarter, district_name, registered_users, app_opens)values{}".format(tuple(record)))
    connection.commit()
print('Data inserted into Table-4 successfully')
    

#**************************************** ------  4 th finished  ------************************************************