In [2]:
import streamlit  as st
import json 
import os
import pandas as pd
import numpy as np

In [4]:
#                           6. This is to find the top users list in india:

#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


path = 'pulse/data/top/user/country/india/state/'
state_list = os.listdir(path)
clm={'State':[],'Year':[],'Quarter':[],'district_name':[] ,'total_users':[]}


#---------------------------------------------------------------------------------------------------------------------------

for i in state_list:
    p_i= path + i + '/'
    year = os.listdir(p_i)
    for j in year:
        p_j = p_i + j + '/'
        file = os.listdir(p_j)
        for k in file:
            p_k = p_j + k 
            Data = open(p_k,'r')
            D = json.load(Data)
            for z in D['data']['districts']:
                    users = z['registeredUsers']
                    district_name = z['name']
                    clm['district_name'].append(district_name)
                    clm['total_users'].append(users)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.strip(".json")))

top_users = pd.DataFrame(clm)
top_users

,State,Year,Quarter,district_name,total_users
0,andaman-&-nicobar-islands,2018,1,south andaman,5846
1,andaman-&-nicobar-islands,2018,1,north and middle andaman,632
2,andaman-&-nicobar-islands,2018,1,nicobars,262
3,andaman-&-nicobar-islands,2018,2,south andaman,8143
4,andaman-&-nicobar-islands,2018,2,north and middle andaman,911
...,...,...,...,...,...
5915,west-bengal,2022,4,howrah,1422011
5916,west-bengal,2022,4,nadia,1359420
5917,west-bengal,2022,4,purba medinipur,1346908
5918,west-bengal,2022,4,paschim medinipur,1217113
5919,west-bengal,2022,4,purba bardhaman,1119310

In [ ]:
cursor.execute("create table top_users(state varchar(45),year int,quarter int,district_name varchar(45),registered_users int)")             
for record in top_users.values:
    cursor.execute("insert into top_users(state, year, quarter, district_name, registered_users) values{}".format(tuple(record)))
    connection.commit()
print('Data inserted into Table-6 successfully')
    

#**************************************** ------  6 th finished  ------************************************************